{{!-- headline --}}
<h1>Welcome!</h1>

{{!-- content --}}
{{#each blogs}}

    <div class="blog" id={{id}}>

        <h3 class="blogTitle">{{title}}</h3>
        <p class="blogAuthor">{{User.username}}</p>
        <p class="timestamp">{{formatTime updatedAt}}</p>
        <p class="blogBody">{{body}}</p>
        <button class="commentButton">Comment</button>

        <form action="" class="newComment">

            <textarea class="commentInput" cols="30" rows="10"></textarea>
            <button class="commentSubmit" value={{id}}>Submit</button>

        </form>

    </div>


    {{#each Comments}}

        <div class="comments" id={{id}}>

            <p class="commentBody">{{body}}</p>
            <p class="commentAuthor">{{User.username}}</p>

        </div>

    {{/each}}

{{/each}}

{{!-- link script --}}
<script src="/js/comments.js"></script>