{{!-- headline --}}
<h1>Welcome!</h1>

{{!-- content --}}
{{#each blogs}}

    <h3 class="blogTitle">{{title}}</h3>
    <p class="blogAuthor">{{username}}</p>
    <p class="timestamp">{{formatTime updatedAt}}</p>
    <p class="blogBody">{{body}}</p>

    <p class="comment">{{comment.body}}</p>
    <p class="commentAuthor">{{comment.username}}</p>

{{/each}}